packages:
  yum:
    git: []
    postgresql-devel: []

container_commands:
  01_migrate:
    command: |
      source /var/app/venv/*/bin/activate
      echo "Running migrations" >> /var/log/eb-migrate.log
      python3 manage.py migrate --noinput >> /var/log/eb-migrate.log 2>&1
    leader_only: true

  02_collectstatic:
    command: |
      source /var/app/venv/*/bin/activate
      echo "Collecting static files" >> /var/log/eb-collectstatic.log
      python3 manage.py collectstatic --noinput >> /var/log/eb-collectstatic.log 2>&1
    leader_only: true



  03_create_pids_directory:
    command: "mkdir -p /var/pids"
    ignoreErrors: true

  04_restart_gunicorn:
    command: "pkill -f gunicorn || true"

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: pokemoncollector.wsgi:application

# Optional: Additional environment variables
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "pokemoncollector.settings"
    DB_NAME: "ebdb"
    DB_USER: "ebroot"
    DB_PASSWORD: "undefinednull0515"
    DB_HOST: "awseb-e-gkwcaur2zx-stack-awsebrdsdatabase-cwtnewepa10y.c78oiw408ymx.us-east-1.rds.amazonaws.com"
    DB_PORT: "5432"
